doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title=title
    link(
      href="/style.css" 
      rel="stylesheet"
      )
    // Google Font
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      )
    script(src="/js/index.js" type="module")
  body
    // Navbar
    include header.pug
    // Content
    block content