nav.navbar
  .logo-title
    img(
      alt="Logo" 
      src="/images/grape.png"
    )
    span Food Recipe & Diet Management

  // Navigation Links
  .hdr-nav-links
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/blogs") Blogs

  // Search Bar
  .hdr-search
    input.hdr-search-input(type="text" placeholder="Search...")
    button.hdr-search-btn(type="button") Search

  // Actions (Both States Shown)
  .actions
    if(user)
      .auth-logged-in
        a.user-link(href="/profile")
          img.user-photo(
            alt="User Photo" 
            src="/images/user.png"
          )
        span.username=user.name
        a.btn.logout-btn(href="/logout") Logout
    else 
      .auth-logged-out
        a.btn(href="/login") Login
        a.btn(href="/signup") Signup
