extends base
block content 
  -const isRecipe = blog.type==='recipe'?true:false
  .blog-container(class=`${isRecipe?'recipe-box':''}`)
    //- Blog Card
    .blog-card
      img.blog-image(src=blog.photo alt=blog.title)
      .blog-content
        .blog-title= blog.title
        .blog-meta
          span.blog-date Created: #{new Date(blog.createdAt).toLocaleDateString()}
          |  | 
          span.blog-uploaded Uploaded by: #{blog.uploadedBy}

        p.blog-description= blog.description
      if(isRecipe)
        .recipe-container
          .recipe-card
            h3 Recipe Details
            .recipe-info
              
              p
                strong Time  : 
                | #{blog.time} minutes
              p
                strong Calories  : 
                | #{blog.calories} kcal
              p
                strong Ingredients  :
                | #{blog.ingredients}
              p
                strong How to Cook
                br
                | #{blog.howToCook}


    if(user)
      .comments-section
        h3 Comments

        //- Add Comment Form
        form.comment-form
          textarea.comment-text(name="comment" placeholder="Add a comment..." rows="3")
          button.btn.submit-comment(type="submit" data-tour-id=`${blog.id}`) Post Comment
        //- Loop comments dynamically
        each comment in blog.comments
          .comment
            img.comment-photo(src=comment.user.photo alt=comment.name)
            .comment-body
              span.comment-user= comment.user.name
              p.comment-text= comment.comment
    else 
      p Login to see comments, upload and manage contents to become collaborator, this site priotizes security, so, dont worry your email will not ever be publicized feel free to explore, @Avishek Chhetri Team FRDM