extends base
block content 
  .blog-container
    //- Blog Card
    .blog-card
      img.blog-image(src=`/images/${blog.photo}` alt=blog.title)
      .blog-content
        .blog-title= blog.title
        .blog-meta
          span.blog-date Created: #{new Date(blog.createdAt).toLocaleDateString()}
          |  | 
          span.blog-uploaded Uploaded by: #{blog.uploadedBy}
        p.blog-description= blog.description

    if(user)
      .comments-section
        h3 Comments

        //- Add Comment Form
        form.comment-form
          textarea.comment-text(name="comment" placeholder="Add a comment..." rows="3")
          button.btn.submit-comment(type="submit" data-tour-id=`${blog.id}`) Post Comment
        //- Loop comments dynamically
        each comment in blog.comments
          .comment
            img.comment-photo(src=comment.user.photo alt=comment.name)
            .comment-body
              span.comment-user= comment.user.name
              p.comment-text= comment.comment

