extends sidebar 
block mainContent 
  .container.dashboard
    .card
      .card-body
        // User Info
        .d-flex.align-items-center.mb-3
          img(src="https://via.placeholder.com/80" alt="User Photo").rounded-circle
          .user-info
            h5.mb-1=userS.name
            small.text-muted Email : #{userS.email}
            br
            small.text-muted Created At: #{userS.createdAt}
            br
            span.badge Role: #{userS.role}

        // Show buttons if role is admin
        -const isAdmin = userS.role==='admin'&&flag?true:false
        if(isAdmin)
          .mb-4
            button.btn-warning.me-2 Warn
            button.btn-danger Delete

        -const isAdminCollab = userS.role==='admin'||userS.role==='collaborator'?true:false
        if(isAdminCollab)
          h5.mb-3 Uploaded Blogs / Recipes
          ul.list-group
            if(true)
              each blog in blogs
                li.list-group-item
                  .flex-column
                    strong #{blog.title}
                    small.text-muted ----- #{blog.type}
                    small.text-muted --> #{blog.createdAt}
                  .btn-group
                    button.btn-outline-primary(data-id=`${blog.id}`) Update
                    button.btn-outline-danger(data-id=`${blog.id}`) Delete
